option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_URL: placeholder
    SECRET_KEY: placeholder
    STRIPE_SECRET_KEY: placeholder
    STRIPE_PUBLISHABLE_KEY: placeholder
    STRIPE_PRICE_HOBBY: price_hobby_placeholder
    STRIPE_PRICE_PRO: price_pro_placeholder
    FRONTEND_URL: placeholder
    BACKEND_CORS_ORIGINS: placeholder
